html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, figure {
    margin: 0;
}
h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }
img {
    border: 0;
}

html, body {
    height: 100%;
    background: #F9FFFF;
    font-size: 15px;
    border-top: 2px solid #161616;
}

a {
    color: rgba(255,255,255,0.7);
    text-decoration: none;
}

#app {
    width: 70%;
    height: 100%;
    margin: auto;

}

.row {
    width: auto;
    height: 48px;
    border-bottom: 1px solid #E0E5E5;
}

.avatar {
    width: 48px;
    height: 48px;
    float: left;

}
.name {
    width: 70%;
    height: 48px;
    float: left;
}
.name p {
    margin-left: 25px;
}

.score{
    width: 26%;
    height: 48px;
    float: left;
}
.score p {
    margin-left: 25px;
}
