html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, figure {
    margin: 0;
}
h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }
img {
    border: 0;
}

html, body {
    height: 100%;
    background: #F9FFFF;
    font-size: 15px;
    border-top: 2px solid #161616;
}

a {
    color: rgba(255,255,255,0.7);
    text-decoration: none;
}
table {
    border-collapse: collapse;
  }

table tr th {
    text-align: left;
    margin-left: 25px;
}
header p {
    font-size: 22px;
    margin-left: 250px;
    font-family: 'Roboto', sans-serif;
}
#app {
    width: 800px;
    height: auto;
    margin: auto;

}

.row {
    width: auto;
    height: 48px;
    border-bottom: 2px solid #E0E5E5;
}

.avatar {
    width: 48px;
    height: 48px;
}
.avatar img {
    border-radius: 50px;
}
.name {
    height: 48px;
}
.name p {
    margin-left: 25px;
    font-family: 'Roboto', sans-serif;
}

.score{
    height: 48px;
}
.score p {
    font-family: 'Roboto', sans-serif;
    margin-left: 25px;
}
#hiddenBox {
    width: 25%;
    float: left;
    height: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
}
#hiddenBox > #head > p {
    font-family: 'Roboto', sans-serif;
    font-size: 21px

}

#hiddenBox > #stats {
    width: 98%;
    margin: 0% 1%;
    min-height: 100px;
    background-color:#F9FFFF;
    border-radius: 5px;

}
.progress {
    margin-bottom: -1px;
}

.progress p {
    text-align: left;
    margin-bottom: -1px;
    font-family: 'Roboto', sans-serif;
}
.bar {
    background-color:#FFFFCC;
}
.bar-progress {
    background-color: #CCE8CC;

}
