html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #fcffff;
    font-family: Roboto, sans-serif;
}

.app {
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
}

h1 {
    margin: 0;
    font-size: 18px;
    text-align: center;
}

img {
    border-radius: 50%;
    display: block;
}

.scoreboard {
    perspective: 800px;
    margin-top: 16px;
}

.scoreboard__user {
    background: white;
    border-radius: 5px;
    box-shadow: 0 7px 14px 0 rgba(50,50,93,.1), 0 3px 6px 0 rgba(0,0,0,.07);
    overflow: hidden;
    margin-top: 10px;
    transition: .3s transform cubic-bezier(0.680, -0.550, 0.265, 1.550), .3s opacity;
    opacity: 0;
    transform: translate3d(0, -20px, 0) rotateX(45deg);
    transform-style: preserve-3d;
    position: relative;
}

.scoreboard__user.display {
    opacity: 1;
    transform: translate3d(0, 0, 0) rotateX(0);
}

.scoreboard__user.displayed {
    transition: 1s transform cubic-bezier(0.680, -0.550, 0.265, 1.550), .3s opacity;
}

.scoreboard__user__row {
    display: flex;
    align-items: center;
    height: 55px;
    padding: 16px 0;
}

.scoreboard__user__row div {
    padding: 0 24px;
    flex: 1;
}

.scoreboard__user__row div:first-child {
    padding-right: 0;
    flex-grow: 0;
}

.scoreboard__user__row div:last-child {
    flex-grow: 0;
    text-align: right;
    padding-left: 0;
}

.scoreboard__user__summary {
    cursor: pointer;
}

.scoreboard__user__stats {
    display: flex;
    height: 0;
    overflow: hidden;
    transition: .3s height cubic-bezier(0.680, -0.550, 0.265, 1.550);
    border-top: 1px dashed #e6ebf1;
}

.scoreboard__user__stats__column {
    flex: 1;
    padding: 20px;
}

.scoreboard__user__stats__title {
    display: block;
}

.scoreboard__user__stats__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.scoreboard__user__stats__list > li {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.scoreboard__user__stats__list img {
    display: block;
    flex-shrink: 0;
    margin-right: 10px;
}

.scoreboard__user__stats__list strong {
    flex: 1;
    font-weight: normal;
}

.score {
    display: inline-block;
    font-weight: 700;
    color: #5969e2;
    font-size: 24px;
}

.score.good {
    color: #45CB85;
}

.score.bad {
    color: #E08DAC;
}
